html, body{
	height: 100%;
}

body{
	background: url(../images/NewYear.jpg) no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 -ms-background-size: cover;
	 background-size: cover;
}

div #wrapper {
 background-image: url('../images/12-snowflake.png'), url('../images/snow.png'), url('../images/snowflake2.png');
 height:100%;
 width: 25px;
}

h2{
	text-align: center;
    color: #fff;
    font-size: 60px;
    margin-top: 0%;
}

@keyframes snow {
 0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
 
@-moz-keyframes snow {
 0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
 
@-webkit-keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
 
@-ms-keyframes snow {
 0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

div#wrapper {
 background-image: url('../images/12-snowflake.png'), url('../images/snow.png'), url('../images/snowflake2.png');
 height:100%;
 -webkit-animation: snow 20s linear infinite;
 -moz-animation: snow 20s linear infinite;
 -ms-animation: snow 20s linear infinite;
 animation: snow 20s linear infinite;
}