body{
	color: #fff !important;
	font-family: 'Roboto', sans-serif;
}

* ul, li{
	list-style-type: none;
}

.main-wrapper{
	background-color: #000;
}

.content {
	width: 984px !important;
	height: auto;
	background-color: #000;
}

.header-wrap{
	position: relative;
	width: 984px;
	background: url("../images/title_02.png") no-repeat center;
}

.title-row{	
	margin-top: 23px;
	width: 100%;

}

.title-row div{
	width: 250px;
	display: inline-block;
	line-height: 3;
}

.title-row .logo {
	width: 297px;
	line-height: 1.3;
	background: url(../images/pantomax_03.png) no-repeat;
}

.title-row .logo .panto{
	/*font-family: RobotoCondensed Bold;*/
	text-transform: uppercase;
	font-size: 40px;
	letter-spacing: -2px;
	margin-left: 54px;
}

.title-row .logo .max{
	color: #fa4a1a;
}

.title-row .natur1{
	background: url(../images/pantomax_09.png) no-repeat;
}

.title-row .natur1 .strng{
	font-weight: bold;
	margin-right: 3px;
	margin-left: 35px;
}

.title-row .natur2 .strng{
	font-weight: bold;
	margin-right: 3px;
	margin-left: 46px;
}

.title-row .natur1 span,.title-row .natur2 span{
	font-weight: normal;
}

.title-row .natur2{
	background: url(../images/pantomax_06.png) no-repeat;
}

.bgtitle{
	font-size: 50px;
	text-align: left;
	text-transform: uppercase;
	color: #eadb8d;
	margin-bottom: 17px;
}

.center-block-flx{
	display: flex;
	align-items: flex-end;
}

.leftbar{
	flex: 3;
}

.cntrbar{
	flex: 3;
}

.rgtbar {
	flex: 3;
}

.center-block .leftbar{
	width: 319px;
}

.list-block{
	margin-bottom: 23px;
	padding: 0;
}

.leftbar .list-block li{
	background: url(../images/fix.png) no-repeat; 
	padding-left: 36px;
    line-height: 2;
    margin-bottom: 10px;
}

.btl .granul{
	position: relative;
}

.btl .panto-btl{
	position: absolute;
	left: 170px;
    bottom: -16px;
}

.cntrbar{
	z-index: 555;	
}

.cntrbar .prc{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 75px;
    margin-left: 76px;
    font-weight: bold;
}


.cntrbar > p{
	margin-left: 50px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 15px;
    text-align: center;
}

.center-wrap{
	background: url(../images/block2_07.png) no-repeat;
	background-position: right;
	margin-bottom: 60px;
	margin: 0 auto;
}

.center-wrap .row-probl {
	font-family: 'PT Sans Narrow', sans-serif;
	margin-top: 70px;
}

.row-probl > h2{
	text-transform: uppercase;
    font-size: 32px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
}

.row-probl span{
	text-transform: uppercase;
	color: #fc481a;
}

.row-probl p{
	font-size: 20px;
	text-align: center;
}

.wh-block{
	background-color: #fff;
	width: 640px;
	height: 206px;
	margin: 0 auto;
	padding: 48px 53px;
	border-radius: 14px;
	text-align: center;
	margin-bottom: 60px;
}

.wh-block .quest{
	text-transform: uppercase;
	color: #000;
	font-size: 24px;
    font-weight: bold;
    margin-bottom: 39px;
}

.wh-block .quest span{
	font-family: 'PT Sans Narrow', sans-serif;
	padding: 3px 12px;
	letter-spacing: 1.5px;
    margin-right: 13px;
    background: #e5e5e5;
    border-radius: 50%;
    color: #000;
}

.wh-block a{
	text-transform: uppercase;
	color: #fff;
	padding: 16px 50px;
	background-color: #fc481a;
	border-radius: 5px;
	margin-left: 20px;
	font-weight: bold;
	letter-spacing: 1.2px;
}

.wh-block a:hover{
	text-decoration: none;
	color: #fff;
}

.btm-pantomax{
	position: relative;
	padding: 35px;
	background: url(../images/pantomax_10.png) no-repeat;
	overflow: hidden;
	margin-bottom: 49px;
}

.btm-pantomax img{
	position: absolute;
    height: 609px;
    right: -5px;
    top: -55px;
}

.btm-pantomax .panto{
	font-family: 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;
    font-size: 35px;
    color: #000;
    width: 500px;
    line-height: 1;
    font-weight: bold;
}

.btm-pantomax .max {
    color: #fa4a1a;
}

.btm-pantomax  p{
	font-family: 'PT Sans Narrow', sans-serif;
    color: #000;
    width: 500px;
    font-size: 13px;
    line-height: 1.8;
    font-weight: bold;
}

.img-blocks{
	background: url(../images/bottle_14.png) no-repeat;
    position: relative;
    height: 547px;
    background-position: bottom;
    background-size: contain;
}

.img-blocks .nut{
	position: absolute;
    bottom: 71px;
    left: 160px;
    width: 178px;
    float: left;
}

.prohead h3{
	display: inline;
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;
    font-size: 38px;
    margin-left: 10%;
}

.prohead span{
	font-weight: bold;
}

.prohead .panto{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 38px;
    text-transform: uppercase;
    color: #fff;
    line-height: 1;
    font-weight: bold;
}

.prohead .max {
	font-family: 'PT Sans Narrow', sans-serif;
	text-transform: uppercase;
	font-size: 38px;
    color: #fa4a1a;
    font-weight: bold;
}

.blc{
	float: right;
    width: 510px;
}

.blc img{
	width: 159px;
    margin-right: 6px;
    margin-top: 17px;
    margin-bottom: -10px;
}

.doct{
	background: url(../images/forest_03.png) no-repeat;
    position: relative;
    height: 547px;
}

.doct .dok{
	position: absolute;
    right: 0;
    bottom: 95px;
}

.doct .info{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 38px;
	margin-left: 40px;
	padding-top: 25px;
    text-transform: uppercase;
    color: #000;
    line-height: 1;
    font-weight: bold;
}

.doct span {
	font-family: 'PT Sans Narrow', sans-serif;
	text-transform: uppercase;
	font-size: 38px;
    color: #fa4a1a;
    font-weight: bold;
}

.doct p{
	margin-left: 40px;
	font-family: 'Open Sans', sans-serif;
    color: #000;
    width: 500px;
    font-size: 13px;
    line-height: 1.8;
}

.doct .podp{
	font-family: 'Open Sans', sans-serif;
    color: #000;
    font-weight: bold;
    float: left;
}

.doct .pocherk{
	float: right;
    margin-right: 408px;
    margin-top: -51px;
}

